.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.card {
    width:45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.recent {
    margin-left: 27.5%;
    margin-top: 10px;
}

.pcontrol {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.back {
    display: inline-block;
}

.next {
    display: inline-block;
}