<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <p>Post could not be found. You can return home <a href="/">here</a> or make a new post <a href="/new-post">here</a>.</p>

<%- include('../includes/end.ejs') %>
